<a href="https://www.kaggle.com/code/ryavuz/notebook72e446d840?scriptVersionId=195192285" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
##################################################
# Pandas Alıştırmalar
##################################################

import numpy as np
import seaborn as sns
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

#########################################
# Görev 1: Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.
#########################################

df = sns.load_dataset("titanic")
df.head()
df.tail()
df.shape
df.info()
df.columns
df.index
df.describe().T
df.isnull().values.any()
df.isnull().sum()

#########################################
# Görev 2: Yukarıda tanımlanan Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.
#########################################

df["sex"].value_counts()

#########################################
# Görev 3: Her bir sutuna ait unique değerlerin sayısını bulunuz.
#########################################

df.nunique()
print(df.nunique())

#########################################
# Görev 4: pclass değişkeninin unique değerleri bulunuz.
#########################################

df["pclass"].value_counts()

#########################################
# Görev 5:  pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz.
#########################################

df["pclass"].nunique()
df["parch"].nunique()
df[["pclass","parch"]].value_counts()

#########################################
# Görev 6: embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz. Tekrar tipini kontrol ediniz.
#########################################

df["embarked"].dtypes

for col in ['embarked']:
    df[col] = df[col].astype('category')

#df[[col for col in df.columns if df[col].dtypes == object]].astype('category', copy=False)
#df[[col for col in df.columns if df[col].dtypes == object]] = df[[col for col in df.columns if df[col].dtypes == object]].astype('category')

#########################################
# Görev 7: embarked değeri C olanların tüm bilgelerini gösteriniz.
#########################################

df.loc[df['embarked'] == 'C'].head()

#########################################
# Görev 8: embarked değeri S olmayanların tüm bilgelerini gösteriniz.
#########################################

df.loc[df['embarked'] != 'S'].head()

#########################################
# Görev 9: Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.
#########################################

df.loc[(df['age'] < 30) & (df["sex"] == 'female') ].head()

#########################################
# Görev 10: Fare'i 500'den büyük veya yaşı 70 den büyük yolcuların bilgilerini gösteriniz.
#########################################

df[(df['age'] > 70) | (df["fare"] > 500)].head()

#########################################
# Görev 11: Her bir değişkendeki boş değerlerin toplamını bulunuz.
#########################################

df.isnull().sum()

#########################################
# Görev 12: who değişkenini dataframe'den düşürün.
#########################################

df = df.drop("who", axis=1).head()
df.head()

#########################################
# Görev 13: deck değikenindeki boş değerleri deck değişkenin en çok tekrar eden değeri (mode) ile doldurunuz.
#########################################

df["deck"].isnull().sum()
df["deck"].value_counts()
#df["deck"].fillna("C", inplace = True)
df['deck'] = df['deck'].fillna(df['deck'].mode()[0])

#########################################
# Görev 14: age değikenindeki boş değerleri age değişkenin medyanı ile doldurun.
#########################################

df["age"].isnull().sum()
df["age"].value_counts()
df['age'] = df['age'].fillna(df['age'].median())
df["age"].median()

#########################################
# Görev 15: survived değişkeninin Pclass ve Cinsiyet değişkenleri kırılımınında sum, count, mean
# değerlerini bulunuz.
#########################################

df.groupby(["pclass", "sex"]).agg({"survived": ["mean"],
                       "survived": ["sum"],
                       "survived": ["count"]})

#########################################
# Görev 16:  30 yaşın altında olanlar 1, 30'a eşit ve üstünde olanlara 0 vericek bir fonksiyon yazınız.
# Yazdığınız fonksiyonu kullanarak titanik veri setinde age_flag adında bir değişken oluşturunuz oluşturunuz. (apply ve lambda yapılarını kullanınız)
#########################################

df.head()
df['age_flag'] = df['age'].apply(lambda x: '1' if x < 30 else '0')
df[['age','age_flag']].head()
#df['age'].apply(lambda x: '1' if x < 30 else '0')

#########################################
# Görev 17: Seaborn kütüphanesi içerisinden Tips veri setini tanımlayınız.
#########################################

df = sns.load_dataset("Tips")
df.head()

#########################################
# Görev 18: Time değişkeninin kategorilerine (Dinner, Lunch) göre total_bill  değerlerinin toplamını, min, max ve ortalamasını bulunuz.
#########################################

df.groupby(["time"]).agg({"total_bill": ["min","max","mean"]})

#########################################
# Görev 19: Günlere ve time göre total_bill değerlerinin toplamını, min, max ve ortalamasını bulunuz.
#########################################
df.head()
df.groupby(["time","day"]).agg({"total_bill": ["sum","min","max","mean"]})

#########################################
# Görev 20:Lunch zamanına ve kadın müşterilere ait total_bill ve tip  değerlerinin day'e göre toplamını, min, max ve ortalamasını bulunuz.
#########################################

df.groupby(["time","sex"]).agg({"total_bill": ["sum","min","max","mean"]})
df.groupby(["time","sex"]).agg({"total_bill": ["sum","min","max","mean"]}).filter(lambda x: x["sex"] == 'Female')
df.loc[df.sex=='Female'].groupby(["time","sex"]).agg({"total_bill": ["sum","min","max","mean"],
                                                      "tip": ["sum","min","max","mean"]})

#########################################
# Görev 21: size'i 3'ten küçük, total_bill'i 10'dan büyük olan siparişlerin ortalaması nedir?
#########################################
df.head()
df.loc[(df["size"] < 3) & (df["total_bill"] > 10)].agg({"total_bill": ["sum","min","max","mean"],
                                                      "tip": ["sum","min","max","mean"]})

#########################################
# Görev 22: total_bill_tip_sum adında yeni bir değişken oluşturun. Her bir müşterinin ödediği totalbill ve tip in toplamını versin.
#########################################

df['total_bill_tips'] = df['total_bill'] + df['tip']
df['total_bill_tips2'] = df[['total_bill','tip']].sum(axis=1)


#########################################
# Görev 23: total_bill_tip_sum değişkenine göre büyükten küçüğe sıralayınız ve ilk 30 kişiyi yeni bir dataframe'e atayınız.
#########################################

df.sort_values(by=['total_bill_tips'])
dfnew = df.sort_values(by=['total_bill_tips', 'total_bill'], ascending=False, na_position='first').head(30)